<%= simple_form_for @picture, html: {multipart: true } do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <% if (@picture.image_updated_at) %>
        <%= image_tag @picture.image.url(:thumb) %>
    <% end %>
    <%= f.input :image, label: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
