<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>


<% unless @gallery.pictures.empty? %>
    <table>
    <tbody>
    <tr>
    <% @gallery.pictures.each do |pic| %>
        <td>
            <%= link_to pic.image.url(:original), :target => "_blank" do %>
                <%= image_tag pic.image.url(:thumb) %>
            <% end %>
        </td>
    <% end %>
    </tr>
    </tbody>
    </table>
<% end %>


<p>&nbsp;</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
